@import '../node_modules//bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules//bootstrap/dist/css/bootstrap-grid.min.css';
@import '../node_modules//bootstrap/dist/css/bootstrap-reboot.min.css';
@import '../node_modules//bootstrap/dist/css/bootstrap-utilities.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fullscreen-loader {
  position: relative; /* Position it relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Use flexbox to center the content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  z-index: 1000; /* Ensure it's on top of other content */
}

.loading-text {
  color: white; /* Text color */
  font-size: 2rem; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold */
  margin: 0; /* Remove default margin */
}